body {
    font-family: Arial, sans-serif;
}

#container {
    width: 80%;
    margin: 0 auto;
}

.bar {
    fill: steelblue;
}

.axis-label {
    font-size: 14px;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.hidden {
    display: none;
}
